body > header {
  height: 400px;
  width: 100%;
  background-color: #ffc436;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

header h2 {
  font-weight: normal;
}

/*******************************************************************************/
/** 1024px and above
/*******************************************************************************/
@media only screen and (min-width: 1024px) {
  body > header {
    margin: 20vh 10vw 10vh 5vw;
    width: 35%;
  }
}
