body > header {
  height: 400px;
  width: 100%;
  background-color: #ffc436;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 120px; */
}

header h2 {
  font-weight: normal;
}
