nav {
  height: 120px;
  width: 100%;
  background-color: #ffc436;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: #ffffff;
  padding: 0 1.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
}

.tweeter-logo {
  font-family: "Bungee";
  font-size: 2.2rem;
}

/* "write a new tweet" $ angle-down icon */
.new-tweet-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#angle-down {
  margin-top: 0.4rem;
  color: #c63d2f;
}

/*******************************************************************************/
/** 1024px and above
/*******************************************************************************/
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }
}
