nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav span {
  font-family: "Bungee";
}

.new-tweet-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#angle-down {
  color: #ffc436;
}
