article {
  border: 3px solid #7d7c7c;
  padding: 15px;
  margin: 50px 0 50px 0;
  transition: box-shadow 0.3s;
}
article:hover {
  box-shadow: 7px 7px 2px 1px #c9ccd5;
}

article hr {
  border: 1.8px solid #4a4c4f;
}

article header {
  display: flex;
  justify-content: space-between;
}

#profile-image {
  padding: 0 15px 0 5px;
}

#user-name {
  display: flex;
  flex-grow: 1;
  font-size: 22px;
}

#at-user {
  font-size: 20px;
  color: #a9a9a9;
}

article footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

.icons i {
  color: #4056a1;
  transition: color 0.3s;
}

.icons i:hover {
  color: #e25e3e;
}
